/* Add your custom styles here */
.btn-primary{
    background-color: #378068;
    border-color: #378068;
    color: #ffffff;
    &:hover{
        background-color: #2B424B;
        border-color: #2B424B;
        color: #ffffff;
    }
}
.bg-primary{
    background-color: #378068 !important
}

@font-face {
  font-family: 'asapbold';
  src: url('/assets/fonts/asapbold-kmmp-webfont.woff2') format('woff2'),
       url('/assets/fonts/asapbold-kmmp-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: 'asapbold';
    /* font-size: $base-font-size + $heading-scale * (6 - $i); */
  }
}

td {
  padding-left: 16px;
}
