<div class="col-md-12 mb-0">
  <h2>Wat wij kunnen</h2>
  <hr />
</div>
<div class="col-md-4 mb-5">
  <div class="card border-0 shadow h-100">
    <img class="card-img-top" src="/assets/img/KMO_process.jpg" alt="" />
    <div class="card-body">
      <h4 class="card-title">Industrie digitaliseren</h4>
      <p class="card-text">
        Op maat gemaakt ERP pakket dat alle bedrijfsprocessen in kaart brengt, overhead verwijdert en marktmogelijkheden vergroot.
      </p>
    </div>
    <div class="card-footer">
      <a href="mailto:Contact@SoftwareOplossing.be?subject=Industrie%20digitaliseren&body=Beste%20Bart%0A%0A%0AGraag%20had%20ik%20een%20verkennend%20gesprek%20ingepland%20m.b.t.%20digitaliseren%20van%20onze%20industrie%20bij%20mij%20op%20kantoor%20te%0A[vul%20hier%20je%20adres%20in]%0A%0APast%20een%20van%20de%20volgende%20dagen%0A[vul%20hier%20enkele%20passende%20data%20in]%0A%0AVoor%20verdere%20afspraken%20te%20maken%20kan%20je%20mij%20contacteren%20op%0A[vul%20hier%20je%20nummer%20in]%0A%0A%0AMet%20vriendelijke%20groeten%0A[vul hier je naam in]" class="btn btn-primary">Contacteer ons</a>
    </div>
  </div>
</div>
<div class="col-md-4 mb-5">
  <div class="card border-0 shadow h-100">
    <img class="card-img-top" src="/assets/img/LetsPeppol.png" alt="" />
    <div class="card-body">
      <h4 class="card-title">Bedrijven doen groeien</h4>
      <p class="card-text">
        Open-source Peppol-conform toegangspunt met eenvoudige gebruikersinterface voor kosteloze e-facturatie om te integreren.
      </p>
    </div>
    <div class="card-footer">
      <a href="https://letspeppol.org" class="btn btn-primary">Lees meer</a>
    </div>
  </div>
</div>
<div class="col-md-4 mb-5">
  <div class="card border-0 shadow h-100">
    <img class="card-img-top" src="/assets/img/LBVRGames.png" alt="" />
    <div class="card-body">
      <h4 class="card-title">Veilig helpen innoveren</h4>
      <p class="card-text">
        Van AI integraties tot VR toepassingen, elke state-of-the-art ontwikkeling met bruikbaarheid en veiligheid als kernwaarde.
      </p>
    </div>
    <div class="card-footer">
      <a href="mailto:Contact@SoftwareOplossing.be?subject=Veilig%20helpen%20innoveren&body=Beste%20Bart%0A%0A%0AGraag%20had%20ik%20een%20verkennend%20gesprek%20ingepland%20m.b.t.%20veilig%20helpen%20innoveren%20bij%20mij%20op%20kantoor%20te%0A[vul%20hier%20je%20adres%20in]%0A%0APast%20een%20van%20de%20volgende%20dagen%0A[vul%20hier%20enkele%20passende%20data%20in]%0A%0AVoor%20verdere%20afspraken%20te%20maken%20kan%20je%20mij%20contacteren%20op%0A[vul%20hier%20je%20nummer%20in]%0A%0A%0AMet%20vriendelijke%20groeten%0A[vul hier je naam in]" class="btn btn-primary">Contacteer ons</a>
    </div>
    </div>
  </div>
</div>
<div class="col-md-4 mb-5">
  <div class="card border-0 shadow h-100">
    <img class="card-img-top" src="/assets/img/software.jpg" alt="" />
    <div class="card-body">
      <h4 class="card-title">Technisch ontzorgen</h4>
      <p class="card-text">
        Van hardware tot software, elk bestaand systeem kan gekoppeld worden, elke uitdaging heeft een passende oplossing.
      </p>
    </div>
    <div class="card-footer">
      <a href="mailto:Contact@SoftwareOplossing.be?subject=Technisch%20ontzorgen&body=Beste%20Bart%0A%0A%0AGraag%20had%20ik%20een%20verkennend%20gesprek%20ingepland%20voor%20een%20passende%20oplossing%20te%20ontwikkelen%20bij%20mij%20op%20kantoor%20te%0A[vul%20hier%20je%20adres%20in]%0A%0APast%20een%20van%20de%20volgende%20dagen%0A[vul%20hier%20enkele%20passende%20data%20in]%0A%0AVoor%20verdere%20afspraken%20te%20maken%20kan%20je%20mij%20contacteren%20op%0A[vul%20hier%20je%20nummer%20in]%0A%0A%0AMet%20vriendelijke%20groeten%0A[vul hier je naam in]" class="btn btn-primary">Contacteer ons</a>
    </div>
  </div>
</div>
<div class="col-md-4 mb-5">
  <div class="card border-0 shadow h-100">
    <img class="card-img-top" src="/assets/img/WimBel.png" alt="" />
    <div class="card-body">
      <h4 class="card-title">Administratie automatiseren</h4>
      <p class="card-text">
        Snellere en accuratere dienstverlening door centraliseren, uniformiseren en koppelen van telefooncentrale met bestaande systemen.
      </p>
    </div>
    <div class="card-footer">
      <a href="mailto:Contact@SoftwareOplossing.be?subject=Administratie%20automatiseren&body=Beste%20Bart%0A%0A%0AGraag%20had%20ik%20een%20verkennend%20gesprek%20ingepland%20om%20onze%20administratie%20te%20automatiseren%20bij%20mij%20op%20kantoor%20te%0A[vul%20hier%20je%20adres%20in]%0A%0APast%20een%20van%20de%20volgende%20dagen%0A[vul%20hier%20enkele%20passende%20data%20in]%0A%0AVoor%20verdere%20afspraken%20te%20maken%20kan%20je%20mij%20contacteren%20op%0A[vul%20hier%20je%20nummer%20in]%0A%0A%0AMet%20vriendelijke%20groeten%0A[vul hier je naam in]" class="btn btn-primary">Contacteer ons</a>
    </div>
  </div>
</div>
<div class="col-md-4 mb-5">
  <div class="card border-0 shadow h-100">
    <img class="card-img-top" src="/assets/img/network.png" alt="" />
    <div class="card-body">
      <h4 class="card-title">Volledig ondersteunen</h4>
      <p class="card-text">
        Steunend op een groot multidiciplinair netwerk, zowel academisch als professioneel, wordt elke zorg een kans tot groeien.
      </p>
    </div>
    <div class="card-footer">
      <a href="mailto:Contact@SoftwareOplossing.be?subject=Volledig%20ondersteunen&body=Beste%20Bart%0A%0A%0AGraag%20had%20ik%20een%20verkennend%20gesprek%20ingepland%20om%20te%20bespreken%20welke%oplossing%20jullie%20kunnen%20bieden%20bij%20mij%20op%20kantoor%20te%0A[vul%20hier%20je%20adres%20in]%0A%0APast%20een%20van%20de%20volgende%20dagen%0A[vul%20hier%20enkele%20passende%20data%20in]%0A%0AVoor%20verdere%20afspraken%20te%20maken%20kan%20je%20mij%20contacteren%20op%0A[vul%20hier%20je%20nummer%20in]%0A%0A%0AMet%20vriendelijke%20groeten%0A[vul hier je naam in]" class="btn btn-primary">Contacteer ons</a>
    </div>
  </div>
</div>
