<div class="col-md-12 mb-0">
  <h2>Wat wij belangrijk vinden</h2>
  <hr />
</div>
<div class="col-md-4 mb-5">
  <div class="card border-0 shadow h-100">
    <img class="card-img-top" src="http://placeholder.pics/svg/400x300/3cb371-3cb371/3cb371-3cb371" alt="" />
    <div class="card-body">
      <h4 class="card-title">Uw bedrijfsprocessen</h4>
      <p class="card-text">
        We hebben een eigen ERP pakket gemaakt.
      </p>
    </div>
    <div class="card-footer">
      <a href="#" class="btn btn-primary">Lees meer</a>
    </div>
  </div>
</div>
<div class="col-md-4 mb-5">
  <div class="card border-0 shadow h-100">
    <img class="card-img-top" src="http://placeholder.pics/svg/400x300/3cb371-3cb371/3cb371-3cb371" alt="" />
    <div class="card-body">
      <h4 class="card-title">Uw veiligheid</h4>
      <p class="card-text">
        We zijn aangesloten bij LLASER.
      </p>
    </div>
    <div class="card-footer">
      <a href="#" class="btn btn-primary">Lees meer</a>
    </div>
  </div>
</div>
<div class="col-md-4 mb-5">
  <div class="card border-0 shadow h-100">
    <img class="card-img-top" src="http://placeholder.pics/svg/400x300/3cb371-3cb371/3cb371-3cb371" alt="" />
    <div class="card-body">
      <h4 class="card-title">Uw kwaliteit</h4>
      <p class="card-text">
        Wij hebben QMSoft.be opgericht.
      </p>
    </div>
    <div class="card-footer">
      <a href="#" class="btn btn-primary">Lees meer</a>
    </div>
  </div>
</div>
