<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta name="description" content="{{ site.description }}" />
  <meta name="author" content="SoftwareOplossing.be" />

  <title>{{ site.title }}</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet" />
  <!-- For browsers that don't support .svg favicons (pretty much just Safari right now): -->
  <link rel="icon" href="/assets/icon/favicon.ico" sizes="any" />
  <!-- For browsers that DO support SVG favicons (most of them now): -->
  <link rel="icon" href="/assets/icon/icon.svg" type="image/svg+xml" />
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/icon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/icon/favicon-16x16.png">
  <link rel="manifest" href="/assets/icon/site.webmanifest">
</head>
