<div class="col-md-12 mb-5">
  <h2>Wat wij doen</h2>
  <hr />
  <p>
    Wij maken software op maat en nemen het volledige proces van transformatie en optimalisatie uit handen. Met onze expertise leveren we de oplossing die u &eacute;cht nodig heeft, zodat u zich kunt richten op waar u goed in bent.
  </p>
  <p>
    Uw bedrijfsprocessen staan centraal en wij digitaliseren, automatiseren en optimaliseren deze iteratief om de administratieve overhead te minimaliseren en effici&euml;ntie en betrouwbaarheid te maximaliseren.
  </p>
  <a class="btn btn-primary btn-lg" target="_blank" href="mailto:Contact@SoftwareOplossing.be?subject=Verkennend%20gesprek&body=Beste%20Bart%0A%0A%0AGraag%20had%20ik%20een%20verkennend%20gesprek%20ingepland%20bij%20mij%20op%20kantoor%20te%0A[vul%20hier%20je%20adres%20in]%0A%0APast%20een%20van%20de%20volgende%20dagen%0A[vul%20hier%20enkele%20passende%20data%20in]%0A%0AVoor%20verdere%20afspraken%20te%20maken%20kan%20je%20mij%20contacteren%20op%0A[vul%20hier%20je%20nummer%20in]%0A%0A%0AMet%20vriendelijke%20groeten%0A[vul hier je naam in]">Contacteer ons &raquo;</a>
</div>
<div class="col-md-12 mb-5">
  <h2>Wij laten U groeien</h2>
  <hr />
  <p>
    Optimalisatie bespaart sneller geld dan u denkt. Laat software zich aanpassen aan uw bedrijf en uw specifieke noden. Zo houdt u meer tijd over voor de activiteiten die &eacute;cht winstgevend zijn.
  </p>
  <a class="btn btn-primary btn-lg" href="voordelen/">Lees meer &raquo;</a>
</div>
<div class="col-md-12 mb-5">
  <h2>Wie wij zijn</h2>
  <hr />
  <p>
    Een team van 6 gepassioneerde experts, elk gespecialiseerd in verschillende ICT-domeinen. Met meer dan 20 jaar ervaring in hard- en softwareontwikkeling hebben we een breed inzetbare expertise opgebouwd binnen diverse bedrijven en instellingen.
  </p>
  <a class="btn btn-primary btn-lg" href="team/">Lees meer &raquo;</a>
</div>
