<div class="col-md-12 mb-5">
  <h2>Wat wij doen</h2>
  <hr />
  <p>
    Wij maken software op maat en nemen het volledige proces van transformatie en optimalisatie uit handen. Met onze expertise leveren we de oplossing die u &eacute;cht nodig heeft, zodat u zich kunt richten op waar u goed in bent.
  </p>
  <p>
    Uw bedrijfsprocessen staan centraal en wij digitaliseren, automatiseren en optimaliseren deze iteratief om de administratieve overhead te minimaliseren en effici&euml;ntie en betrouwbaarheid te maximaliseren.
  </p>
  <a class="btn btn-primary btn-lg" href="contact/">Contacteer ons &raquo;</a>
</div>
<div class="col-md-12 mb-5">
  <h2>U doen groeien</h2>
  <hr />
  <p>
    <strong>Optimaliseren kan u sneller geld besparen dan u denkt.</strong><br />
    U verliest al snel 30 minuten per dag aan kant-en-klare software dat extra onnodige handelingen vraagt, complexer is dan nodig en niet goed meewerkt. Voor een bedrijf met 15 medewerker, komt dit al gauw op 30 minuten x 15 medewerkers x 20 dagen per maand = 150 manuren puur verlies. Reken dan aan een 35 euro arbeidskost per uur <sup><a target="_blank" href="https://statbel.fgov.be/nl/themas/werk-opleiding/lonen-en-arbeidskosten/arbeidskosten">[bron]</a></sup>, komt dit op 5250 euro per maand aan nutteloze kosten. Door software op maat te laten maken voor 50 000 euro bent u tegen het eind van het jaar al winst aan het draaien. En dit staat los van alle andere voordelen.
  </p>
  <a class="btn btn-primary btn-lg" href="contact/">Lees meer &raquo;</a>
</div>
