<h2>Werkwijze</h2>
<hr />
<table border="0" class="mb-4">
  <tr><td>1. Eerste contact</td><td>(30 minuten)</td></tr>
  <tr><td>2. Verkennend gesprek</td><td>(1-4 uur)</td></tr>
  <tr><td>3. Operationele analyse</td><td>(1-4 weken)</td></tr>
  <tr><td>4. Terugkoppeling</td><td>(1-4 uur)</td></tr>
  <tr><td>5. Goedkeuring</td><td>(30 minuten)</td></tr>
  <tr><td>6. Start ontwikkeling</td><td></td></tr>
</table>
<p>Wij helpen uw bedrijf op locatie in Belgi&euml; en Nederland, terwijl we ontwikkelen vanuit verschillende werkplekken in Limburg : Hasselt, Genk, Bilzen, Riemst, Maasmechelen en Lummen.</p>

<a class="btn btn-primary btn-lg" target="_blank" href="https://app.simplymeet.me/softwareoplossing">Start hier &raquo;</a>
