<h2>Werkwijze</h2>
<hr />
<ol>
  <li>Verkennend gesprek (intake gesprek) om de bedrijfsprocessen te leren kennen en de kern van de uitdagingen te analyseren</li>
  <li>Intern met verschillende experts de analyse omzetten in een plan van aanpak</li>
  <li>Terugkoppeling van het plan met verschillende tussenliggende stappen / milestones</li>
  <li>U geeft het startsignaal</li>
  <li>Wij starten met het ontwikkelen van de eerste iteratie (MVP) van de oplossing</li>
  <li>Wij leveren frequente updates met continue/ op elk moment ruimte voor feedback zodat de snelle resultaten het best passen en blijven passen bij het bedrijf</li>
  <li>Gezien de ontwikkelingen inhouse gemaakt worden, komen wij enkel langs voor besprekingen, installaties, integraties en eventuele trainingen</li>
  <li>Samen incrementeel en gradueel de oplossing laten groeien binnen het bedrijf en we begeleiden dit bij elke stap van hardware tot software</li>
</ol>
<a class="btn btn-primary btn-lg" href="contact/">Start hier &raquo;</a>
