name: Continuous Deployment

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: nixbuild/nix-quick-install-action@v30
      
      - name: Build static files
        id: build
        run: |
          nix build \
            --print-build-logs \
            --out-link output \
            'github:${{ github.repository }}?ref=${{ github.ref }}'

      - name: Upload static files as artifact
        if: ${{ 'main' == github.ref_name }}
        id: deployment
        uses: actions/upload-pages-artifact@v3
        with:
          path: output/

  deploy:
    if: ${{ 'main' == github.ref_name }}
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
